body {
    height: 400vh;
    background-color: rgba(9, 102, 250, 0.792);
    font-family: 'Nunito', sans-serif;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    color: white;   
}
.title {
  font-family: 'Baloo 2', cursive;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}
.time-city {
  font-family: 'Baloo 2', cursive;
    color: rgba(240, 248, 255, 0.717);
    font-size: 25px;
    text-shadow: 10px 10px 2px #00000063;
    }
    .label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      color: #f2f3f4;
    }
    
    .label-text-right {
      margin-left: 4px;
    }
    #fahrenheit-label, #celcius-label {
      animation: glow 2s infinite alternate;
      color: #fff;
    }
    
    @keyframes glow {
      from {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #ffffff, 0 0 8px #ffffff, 0 0 10px #ffffff, 0 0 12px #e60073, 0 0 14px #e60073;
      }
      to {
        text-shadow: 0 0 3px #fff, 0 0 5px #ff4da6, 0 0 9x #ffffff, 0 0 11px #ffffff, 0 0 13px #ffffff, 0 0 5px #ff4da6, 0 0 7px #ff4da6;
      }
    }
    .label-text-left {
      margin-right: 10px;
    }
    
    .toggle {
      isolation: isolate;
      position: relative;
      height: 20px;
      width: 50px;
      border-radius: 15px;
      overflow: hidden;
      box-shadow:
        -8px -4px 8px 0px #8399fb,
        8px 4px 12px 0px #347bed,
        4px 4px 4px 0px #347bed inset,
        -4px -4px 4px 0px #8399fb inset;
    }
    
    .toggle-state {
      display: none;
    }
    
    .indicator {
      height: 100%;
      width: 200%;
      background: rgba(9, 101, 250, 0.473);
      border-radius: 15px;
      transform: translate3d(-75%, 0, 0);
      transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
      box-shadow:
        -8px -4px 8px 0px #8399fb,
        8px 4px 12px 0px #6176d1;
    }
    
    .toggle-state:checked ~ .indicator {
      transform: translate3d(25%, 0, 0);
    }
    
#search-input {
    background: none;
    border: none;
    color: white;
    font-size: 12px;
}
#search-input::placeholder {
  color: rgba(255, 255, 255, 0.635);
}
#search-button {
    font-size: 12px;
    border: none;
    background: none;
}
.search-image {
  -webkit-filter: drop-shadow(10px 10px 2px #00000063);
  filter: drop-shadow(10px 10px 2px #00000063);
}
.main-weather-icon {
  margin-top: 10px;
  margin-bottom: 5px;
}
#main-weather-icon, .weather-icon {
  -webkit-filter: drop-shadow(15px 15px 4px #222222);
  filter: drop-shadow(15px 15px 4px #22222279);
}
#sunrise-icon, #sunset-icon, #moonrise, #moonset {
  display: inline-block;
  
  
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 40px;
    margin-bottom: 40px;
    }::-webkit-scrollbar {
        display: none;
      }

    .card {
      display: inline-block;
      width: 120px;
      color: white;
      background: none;
      border: none;
    }
    div h2 {
      color: rgba(255, 255, 255, 0.726);
    }:hover{
      color: white;
    }
    .hourly-prediction {
      font-family: 'Baloo 2', cursive;
      font-size: 10px;
      padding: 1px;
    }
    .h, .l, .weekday, .prediction {
      font-family: 'Baloo 2', cursive;
    }
    .h, .l, .weekday {
      font-size: 20px;
    }
 
.daily-forecast {
    margin-bottom: 15px;
    animation-duration: 3s;
    animation-name: slidein;
    overflow: hidden;
    
  }
  @keyframes slidein {
    from {
      margin-left: -100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .daily-forecast-col {
    margin-bottom: 20px;
  } 
  
  
  .forecast-title {
      font-size: 18px;
      font-weight: bold;
  }

