body {
    height: 400vh;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    color: white;   
}
.navbar-text {
    color: aliceblue;
}
#search-bar {
    background-color: rgba(0, 0, 0, 0.295);
}
.today-forecast {
    margin-bottom: 40px;
}
.hourly-forecast {
    margin-bottom: 40px;
}
.daily-forecast {
    margin-bottom: 40px;
}
.days {
    padding-top: 50px;
}